<nav class="navbar navbar-inverse bg-primary justify-content-between">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Movie App</a>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="nav navbar-nav">
        <li routerLink="active"><a href="#">Your Watchlist</a></li>
        <li routerLink="active"><a href="#">Popular Movies</a></li>

      </ul>
      <form class="nav navbar-nav navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" [(ngModel)]="SearchText"
            [ngModelOptions]="{standalone: true}">
        </div>
        <button type="submit" class="btn btn-default" (click)="SearchTextChanged()">Search</button>
      </form>
    </div>

  </div>
</nav>